body {
    display: flex;
    background-color: gray;
    margin-top: 0px;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px;
}

table {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    
}

.screen {
    border: none;
    width: 20.5rem;
    height: 6rem;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    text-align: right;
    font-size: 45px;
    color: white;
    margin: 20px;
}


/* .screen:hover {
    background-color: white;
    border: none;
} */

.buttons {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    border: none;
    cursor: pointer;
}

.buttons:hover {
    background-color: grey;
}

.zero {
    width: 10rem;
    border-radius: 40px;

}
.white {
    color: white;
    font-size: 2rem;
}

.dark {
    font-size: 1.5rem;
}
.orange {
    background-color: orange;
}
.orange:hover {
    background-color: orange;
}

.grey {
    background-color: rgb(182, 178, 178);
}

.black {
    background-color: rgb(54, 53, 53);
}

@media screen and (max-width: 400px)  {
    .screen {
        border: none;
        width: 17rem;
        height: 6rem;
        margin: 10px;
        font-size: 20px;
        margin: 20px;
    }
    
    
    .buttons {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin: .4rem;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .zero {
        width: 7rem;
        border-radius: 40px;
    
    }
.grey {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
}